<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>237204049791-lqs1cerhecevi0k7qhmjst5iokva6nfo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237204049791-lqs1cerhecevi0k7qhmjst5iokva6nfo</string>
	<key>API_KEY</key>
	<string>AIzaSyBPZsqh6u6nzBVInGhzsbypl-sxlBAtqag</string>
	<key>GCM_SENDER_ID</key>
	<string>237204049791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rochedev.SimpleSurvey</string>
	<key>PROJECT_ID</key>
	<string>surveymonkeytest-3194c</string>
	<key>STORAGE_BUCKET</key>
	<string>surveymonkeytest-3194c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:237204049791:ios:5711e8af21b56b95</string>
	<key>DATABASE_URL</key>
	<string>https://surveymonkeytest-3194c.firebaseio.com</string>
</dict>
</plist>